body {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 0;
    padding: 0;
}
.header-container {
    display: flex;
    background-color: whitesmoke;
    flex-direction: row;
    height: 16vh;
    width: 100%;
    align-items: center;
    border-bottom: 1px solid rgb(0, 119, 255);
    justify-content: space-around;
    position: fixed;
}

.header-container img {
    height: 97px;
    width: 97px;
    padding: 1em;
}

.navigate {
    margin-left: 25vw;
}

.navigate ul {
    list-style-type: none;
}

.navigate ul li {
    display: inline;    
    padding: 10px;
}

.navigate ul li a {
    color: black;
    font-size: 0.9em;
    font-weight: 400;
    text-decoration: none;
}

.navigate ul li a:hover {
    padding-bottom: 10px;
    border-bottom: 1px solid black;
}

.signUp-button {
    padding: 10px;
    border-radius: 5px;
    color: black;
    background-color: #ddd;
    border-color: rgb(0, 119, 255);
}

.signUp-button:hover{
    padding: 10px;
    border-radius: 5px;
    color: black;
    background-color: rgb(0, 119, 255);    
    border-color: #ddd;
}

.hero-unit-container {
    background: url('../images/banner.jpg') no-repeat;
    background-size: contain;
    width: 100vw;
    height: 60vh;
    padding-top: 4em;
    margin: 0;
    color: white;
    text-align: center;
}

.hero-unit-container h1 {
    margin: 0;
    font-size: 4em;
    padding-top: 30vh;
}

.hero-unit-container a {
    display: block;
    text-decoration: none;
    margin: 10px auto;
    color: black;
    background-color: white;
    padding: 1em;
    border-radius: 5px;
    width: 6em;
}

.paper h1 {
    text-align: center;
    padding: 0;
}

.paper-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around
}

.page {
    text-align: center;
    background: #ddd;
    box-shadow: 5px 5px 25px grey;
    height: 200px;
    width: 300px;
}

footer {
    background-color: rgb(0, 119, 255);
    height: 10vh;
    width: 100vw;
}

footer h3 {
    text-decoration: none;
    color: white;
    text-align: center;
    padding-top: 1.5em;
}

@media(max-width: 576px) {
    .navigate {
        margin-left: 5vw;
    }

    .navigate ul li {
        display: list-item;
    }

    .navigate ul li {
        display: inline;    
        padding: 0.5em;
    }

    .navigate ul li a:hover {
        padding-bottom: 2px;
        border-bottom: 1px solid black;
    }

    .signUp-button {
        width: 40vw;     
        margin-right: 5vw;
        margin-left: 5vw;
        padding: 10px;
    }
    
    .signUp-button:hover{
        width: 40vw;
        margin-right: 5vw;
        margin-left: 5vw;
        padding: 10px;
    }

    .hero-unit-container {
        background: url('../images/banner.jpg') no-repeat;
        width: 100vw;
        height: 60vh;
        padding-top: 4em;
        color: white;
        text-align: center;
    }

    .paper h1 {
        margin-top: 1em;
    }

    .paper-row {
        flex-direction: column;
        justify-content: space-between;
    }

    .page {
        margin: 1em;        
        margin-left: 12vw;
    }
}